= form_for(@post) do |f|
  - if @post.errors.any?
    #error_explanation
      %h2
        = pluralize(@post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :title
    %br/
    = f.text_field :title
  .field
    = f.label :body
    %br/
    = f.text_field :body
  .field
    = f.label :born_on
    %br/
    = week_field("post", "born_on")
  .field
    = f.label :starred
    %br/
    = f.check_box :starred
    %br/
  .field
    = f.label :email
    %br/
    = f.text_field :email
    %br/
  .field
    = f.label :url
    %br/
    = url_field("posts", "index")
    %br/
  .field
    = f.label :starred_at
    %br/
    = time_field("task", "started_at", min: "01:00:00")
  .actions
    = f.submit
